<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yash Burshe</title>
  <!-- Meta -->
  <meta name="theme-color" content="#8cb0da;">
  <meta name="description" content="I'm a Comp. Sci. senior at NMIMS. Find my blog, projects and resume here.">
  <meta property="og:title" content="Yash Burshe">
  <meta property="og:description" content="I'm a Comp. Sci. senior at NMIMS. Find my blog, projects and resume here.">
  <meta property="og:image" content="https://yashburshe.com/images/me.webp">
  <meta property="og:locale" content="en_GB">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:url" content="https://yashburshe.com">
  <link rel="canonical" href="https://yashburshe.com">
  <!-- Links -->
  <link rel="stylesheet" href="/styles.css" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <link rel="icon" href="/res/favicon.ico" sizes="32x32" />
  <link rel="apple-touch-icon" href="/res/apple-touch-icon.png" />
  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet"
  />
</head>
