<nav>
  <div>
    <!-- <h2>Navigation</h2> -->
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li>
        <a href="/projects">Projects</a>
      </li>
    </ul>
    <hr />
    <!-- <h2>External Links</h2> -->
    <ul>
      <li>
        <a target="_blank" href="resume.pdf"
          >Résumé<img src="/res/external-link.svg" alt="External Link icon"
        /></a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/yburshe">Github</a
        ><img src="/res/external-link.svg" alt="External Link icon" />
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/yash-burshe/"
          >Linkedin</a
        ><img src="/res/external-link.svg" alt="External Link icon" />
      </li>
    </ul>
  </div>
</nav>
