<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li>
        <a href="/projects">Projects</a>
      </li>
      <div class="external-links">
        <li>
          <a target="_blank" href="resume.pdf"
            >Résumé</a> 
            <!-- <img src="/res/external-link.svg" alt="External Link icon"/> -->
        </li>
        <li>
          <a target="_blank" href="https://github.com/yburshe">Github</a
          > 
          <!-- <img src="/res/external-link.svg" alt="External Link icon" /> -->
        </li>
        <li>
          <a target="_blank" href="https://www.linkedin.com/in/yash-burshe/"
            >Linkedin</a
          > 
          <!-- <img src="/res/external-link.svg" alt="External Link icon" /> -->
        </li>
      </div>
      
    </ul>
</nav>
