nav{
  display: flex;
  justify-content: center;
}

nav > ul{
  display: flex;
  gap: 1rem;
  align-items: center;
  list-style-type: none;
}

nav > ul > li > img{
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.external-links{
  display: flex;
  gap: 1rem;
}

.external-links > li > a {
  text-decoration-style: double;
}

body{
  max-width: 600px;
  margin: auto;
}

p{
  line-height: 20px;
}

.photo{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.code{
  font-family: monospace;
}