:root{
  --blue-primary: #8cb0da;
  --blue-accent: #7896b9;
  --blue-darker: #5f7792;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* max-width: 600px; */
  font-family: "Noto Sans", sans-serif;
}

section {
  padding: 2rem 0rem;
  max-width: 600px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 12px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: "Geologica", sans-serif;
  font-weight: 350;
}

p {
  line-height: 20px;
}

a {
  color: black;
}

.code {
  font-family: "Sometype Mono", monospace;
}

/* Nav */

nav {
  display: flex;
  justify-content: center;
}

.site-navigation {
  background-color: var(--blue-primary);
  /* padding: 1rem; */
  width: 100%;
}

.external-links {
  background-color: var(--blue-accent);
  /* padding: 0.6rem; */
  width: 100%;
}

nav > ul {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  width: 100%;
  align-items: center;
  list-style-type: none;
}

nav > ul > div {
  display: flex;
  /* gap: 1.3rem; */
  padding: 1rem;
  padding-left: 0rem;

}

nav > ul > div > li > a > img {
  height: 20px;
  width: 20px;
  vertical-align: bottom;
}

nav > ul > div > li > a {
  text-transform: uppercase;
  padding: 1rem;
  text-decoration: none;
  color: white;
  /* vertical-align: middle; */
}

nav > ul > div > li > a:hover {
  background-color: rgb(89, 118, 151);
}

/* Index */

.about-me--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* Projects */

.dropdown-button{
  font-family: 'Geologica', sans-serif;
  border: none;
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  cursor: pointer;
  padding: .5rem;
  margin: .4rem 0 0 0;
  align-items: center;
  background-color: var(--blue-accent);
  width: 100%;
  color: white;
}

.dropdown-button:hover{
  background-color: var(--blue-primary);
}


.project-dropdown{
  background-color: var(--blue-primary);
  padding: 1rem;
  color: white;
  border: 3px solid var(--blue-darker);
}

.project-dropdown a{
  color: white;
}



/* Blog post */

.post-info{
  border-bottom: 2px solid var(--blue-accent);
  margin-bottom: 1.3rem;
}

.post-info > h2{
  font-weight: 500;
}

.post ul, .post ol{
  padding-left: 20px;
}

.post img{
  width: 100%;
}

/* Media queries */

@media screen and (max-width: 440px) {
  section{
    width: auto;
    padding: 1.2rem;
  }
  .site-navigation{
    font-size: .8rem;
  }
}

@media screen and (max-width: 700px) {
  .about-me--grid {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}
