<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="icon" href="/res/favicon.ico" sizes="32x32" />
    <link rel="apple-touch-icon" href="/res/apple-touch-icon.png" />
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <div class="wrapper">
      <h1>Blog</h1>
      <ul class="posts">
        <% for(var i=0; i<data.length; i++) {%>
          <li><a href="/blog/<%= data[i].path %>"><%=data[i].title%></a></li>
      <%}%>
      %>

      </ul>
    </div>
  </body>
</html>
