<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <section>
      <h1>Error <%= errorcode %></h1>
      <%= errormessage %></section>
  </body>
</html>
