<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yash Burshe</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="icon" href="/res/favicon.ico" sizes="32x32" />
    <link rel="apple-touch-icon" href="/res/apple-touch-icon.png" />
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <div class="wrapper">
      <div class="header">
        <h1>Yash Burshe</h1>
        <p>
          Welcome to my website! This website is my one stop destination to
          showcase my works to the world wide web. Make yourself at home!
          <img src="/res/coffee.svg" alt="Coffee icon" />
        </p>
      </div>
      <div class="about-me">
        <h2>About Me</h2>
        <img src="/images/me.webp" alt="A photo of me, Yash Burshe" />
        <p>
          I'm a Computer Science senior currently interning at Oneture in
          Mumbai. I've studied Cybersecurity tools (Wireshark, Hashcat,
          Metasploit) and love doing Capture The Flags. My hobbies inlcude
          swimming, cycling and I'm passionate about my dog,
          <a href="rio.html">Rio</a>!
        </p>
      </div>
    </div>
  </body>
</html>
