<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <section class="projects">
      <div class="project1">
        <h1>Steamley</h1>
        <p>
          Website to download a user's Steam library games in a .CSV file and
          view their statistics
        </p>
        <h2>Problem Statement</h2>
        <p>
          Being an achievement hunter and to check on my gaming backlog I wanted
          a list of games I owned on Steam in a popular file format so that I
          could add the list directly in an app like Notion or Microsoft Excel.
          While developing an app for that, I added features such as the ability
          to check the library of any public user and also see the playtime of
          the games.
        </p>
        <h2>Technologies used</h2>
        <p>HTML5, CSS3, ejs, Nodejs, Expressjs</p>
        <h3>Check it out here: <a href="https://steamley.yashburshe.com">website</a></h3>
      </div>

      <div class="project1">
        <h1>Repofetch</h1>
        <p>
          Search and list the repositories of a Github user
        </p>
        <h2>Technologies used</h2>
        <p>HTML5, CSS3, Javascript</p>
        <h3>Check it out here: <a href="https://repofetch.yashburshe.com">website</a></h3>
      </div>
    </section>
  </body>
</html>
