<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <section class="projects">
      <div class="project1">
        <h1>the Boiler Room</h1>
        <p>
          Website to download a user's Steam library games in a .CSV file and
          view their statistics
        </p>
        <h2>Problem Statement</h2>
        <p>
          Being an achievement hunter I had to frequently check on my gaming
          backlog. I wanted a list of games I owned on Steam in a popular file
          format so that I could import the list directly into an app like
          Notion or Microsoft Excel. While developing an app for that, I added
          features such as the ability to check the library of any public user
          and also see the playtime of the games.
        </p>
        <h2>Technologies used</h2>
        <p>HTML5, CSS3, ejs, Nodejs, Expressjs</p>
        <h3>
          Check it out here: <a href="https://boiler.yashburshe.com">Website</a>
        </h3>
      </div>
      <hr />
      <div class="project2">
        <h1>SentinelShare</h1>
        <p>
          A tamperproof system to share data between an organisation and a third
          party using a zero trust architecture. Built for my capstone project
          in Semester 7 along with Arushi Rai (<a
            href="https://github.com/asr-24"
            >Github</a
          >) and Ridhima Mishra under our mentor, Dr. Pintu Shah
        </p>
        <h2>Problem Statement</h2>
        <p>
          In the current data management practices being implemented at
          organisations, there is a system of manual allotment of data to third
          party vendors which serves as a single point of failure susceptible to
          various risks like "whistle-blowers", disgruntled employees and human
          errors. To mitigate these risks, we came up with a system which is
          consensus-based, controlled and maintained by smart contracts
        </p>
        <h2>Technologies used</h2>
        <p>MERN Stack, Helia, IPFS, Truffle</p>
        <h3>
          Check it out here:
          <a href="https://github.com/asr-24/SentinelShare/tree/main">Github</a>
        </h3>
      </div>
    </section>
  </body>
</html>
